@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 18px;;
}

.content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul.right-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  gap: 16px;
}


ul.left-links{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  gap: 16px;
  
}

.header a{
  text-decoration: none;
  color: grey;
  justify-content: space-between;
  
}

.footer a {
  text-decoration: none;
  color: grey;
  background-color: #eeeeee;
  justify-content: space-between;
}
.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}